<%= form_for([@post, @post.comments.build], remote: true) do |f| %>
  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :description, style: "width: 30%;"%>
  </p>
  <%= f.hidden_field :post_id, {:value => @post.id} %>
  <br>
  <p>
    <%= f.submit %>
  </p>
<% end %>