<h1>Import Users</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Password</th>
  </tr>
  <% @users.each do |user|%>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
  </tr>
  <% end %>
</table>

<%= form_tag import_users_path, multpart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import User" %>
<% end %>
