<%= javascript_include_tag Ckeditor.cdn_url %>
<div class="jumbotron">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
    
     <h4> New Post </h4>      

     <%= form_for :post , url: new_post_path do |f|%>
      <%= f.label :Title %><br>
      <%= f.text_field :title %><br>
      <%= f.label :Body_of_Post%>
      <%= f.cktext_area :description %>
      
      <div class="checkbox">
         <div>
            <%= f.label :category_ids, "Slect Post Category" %><br>
            <%= f.collection_select :category_tokens, Category.order(:name), :id, :name, {}, {multiple: true, class: "chosen-select", id:"post_category_tokens"} %>
          </div>
      </div>
      <div class="checkbox">
        <%= f.submit class: "btn btn-primary active" %>
      </div>

     <% end %>
    </div>
  </div>
  </div>
</div>


