<%= javascript_include_tag Ckeditor.cdn_url %>
<div class="jumbotron">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
    
     <h4> New Post </h4>      

     <%= form_for :post , url: posts_new_path do |f|%>
      <%= f.label :Title %><br>
      <%= f.text_field :title %><br>
      <%= f.label :Body_of_Post%>
      <%= f.cktext_area :description %>
      
      <div class="checkbox">
        <% Category.all.each do |category| %><br>
          <label>
            <%= category.name%>:<%= check_box_tag "post[category_tokens][]", category.id%>
          </label>
        <% end %>
      </div>

      <div class="checkbox">
        <%= f.submit class: "btn btn-primary active" %>
      </div>

     <% end %>
    </div>
  </div>
  </div>
</div>


