<div class="container">
 <div class="row">
  <div class="box">
    <div class="col-md-12">
      <hr>
      <h2 class="intro-text text-center"><%= @post.title %></h2>
      <div class="col-md-2"></div>
      <div class="col-md-8">
       <p style="text-align: justify;"><%= @post.description %></p>
       <hr>

       <h5 class="text-center">Comments</h5>
       <div>
        <% @post.comments.each do |comment| %>
        <%= comment.description %>
        <%= link_to "Edit", comment_path, method: :patch %>
        <%= link_to "Delete", comment_path, method: :delete %>
        <% end %>
      </div>
      <div>
       <%= render "comments/form" %>
      </div>

      <%= button_to "edit post", "/posts/#{@post.id}/edit", method: :get %>
      <%= button_to "delete post", "/posts/#{@post.id}", method: :delete %>
    </div>
  </div>
</div>
</div>
</div>


