<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Keepup</title>
    
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <%= render 'layouts/nav' %>

<div class="container">
    <%= yield %>
</div>
<audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>
=======
  <div class="brand">Keep Up Kepler</div>
    <div class="address-bar">Kepler Kigali | Kimironko, KG 11 Av 183 | (+250)783930839</div>

  <nav class="navbar navbar-default" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
              <a class="navbar-brand" href="index.html">Keep Up Kepler</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li>
                      <a href="/home">Home</a>
                  </li>
                  <li>
                      <a href="/">About</a>
                  </li>
                  <li>
                      <a href="blog.html">Blog</a>
                  </li>
                  <li>
                      <a href="contact.html">Contact</a>
                  </li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <% if current_user != nil %>
                  <li><%= link_to "Logout", "/logout", method: :delete %></li>
                <% else %>
                 <li><%= link_to "Login", "/login" %></li>
                <% end %> 
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
    <%= yield %>
   
   <footer>
         <div class="container-fluid">
               <div class="row">
                   <div class="col-md-4">
                       
                   </div>
                   <div class="col-md-4">
                   <p class="copyright"><strong>Copyright &copy; KeepUp Kepler 2017</strong> </p>
                   </div>
                   <div class="col-md-4">
                   <!-- <strong><%= Time.now %></strong> -->
                       <!-- <ul class="list-inline quicklinks">
                           <li><a href="#">Privacy Policy</a>
                           </li>
                           <li><a href="#">Terms of Use</a>
                           </li>
                       </ul> -->
                   </div>
               </div>
         </div>
       </footer>

  </body>
</html>
